<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Info -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="content-type" content="text/html">

	<title>Rule of Thumb</title>

	<!-- Organic -->
	<meta name="author" content="">
	<meta name="description" content="">

	<!-- Viewport responsive -->
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">

	<!-- Webapp -->
	<meta name="theme-color" content="#2196f3">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="apple-touch-icon" sizes="192x192" href="webapp.png">
	<link rel="manifest" href="manifest.json">

	<!-- Opengraph ( Facebook and google+ ) -->
	<meta property="og:title" content="">
	<meta property="og:image" content="">
	<meta property="og:description" content="">
	<meta property="og:url" content="">
	<meta property="og:type" content="">

	<!-- Twitter -->
	<meta name="twitter:title" content="">
	<meta name="twitter:image" content="">
	<meta name="twitter:description" content="">
	<meta name="twitter:url" content="">
	<meta name="twitter:card" content="">

	<!-- Favicon X-icon  -->
	<link rel="icon" href="favicon.ico?v0">

	<!-- Plugin Style -->

	<!-- Styles -->
	<link rel="stylesheet" href="css/application.min.css">

	<!-- Fonts -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap">

	<!-- Script Important -->
</head>
<body ng-app="app">
		
	<!-- app -->
	<div class="app">

		<!-- header -->
		<header class="header">
			<div class="header-container">
				<div class="header-box">
					<div class="header-brand"> Rule of Thumb </div>
					<div class="header-nav">
						<nav class="nav" ng-class="{'open': open_nav}">
							<a href="#" class="nav-link">Past Trials</a>
							<a href="#" class="nav-link">How It Work</a>
							<a href="#" class="nav-link">Log In / Sign Up</a>
						</nav>
						<div class="search">
							<div class="search-icon"><img src="img/icon-search.png" alt="search"></div>
						</div>
						<div class="nav-icon" ng-click="open_nav = !open_nav">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- hero -->
		<div class="hero">

			<div class="hero-bg">
				<img src="img/pope-masthead.jpg" alt="pope francis">
			</div>

			<div class="hero-container">

				<!-- box -->
				<div class="hero-box">
					<div class="hero-body">
						<div class="hero-title">What's your opinion on</div>
						<div class="hero-subtitle">Pope Francis?</div>
						<div class="hero-description">
							<p>
								He’s talking tough on clergy sexual abuse, but is he just another papal pervert protector? (thumbs down) or a true pedophile punishing pontiff? (thumbs up) 
							</p>
						</div>
						<div class="hero-actions">
							<img src="img/icon-wiki.png" alt="wiki">
							<a class="hero-link" href="https://en.wikipedia.org/wiki/Pope_Francis" target="_blank">More information</a>
						</div>
						<div class="hero-q">What’s Your Verdict?</div>
					</div>
					<div class="hero-tool">
						<div class="tool-item th-ocean">
							<img src="img/icon-like.png" alt="like">
						</div>
						<div class="tool-item th-orange">
							<img src="img/icon-dislike.png" alt="dislike">
						</div>
					</div>
				</div>

			</div>
			<div class="hero-bar">
				<div class="bar-title"><span>Closing in</span></div>
				<div class="bar-time"><strong>22</strong> <span>days</span></div>
			</div>
		</div>

		<!-- container -->
		<section class="container">

			<!-- alert -->
			<div class="alert">
				<div class="alert-box">
					<div class="alert-head">
						<div class="head-title">Speak out. Be heard.</div>
						<div class="head-subtitle">Be counted</div>
					</div>
					<div class="alert-body">
						<p>
							Rule of Thumb is a crowd sourced court of public opinion where anyone and everyone can speak out and speak freely. It’s easy: You share your opinion, we analyze and put the data in a public report.
						</p>
					</div>
					<div class="alert-actions">
						<span class="alert-close"><img src="img/icon-close.png" alt="close alert"></span>
					</div>
				</div>
			</div>
	
			<!-- votes -->
			<div class="votes" ng-controller="votesController as VC">
				<div class="votes-head">
					<h2 class="votes-title">Previous Rulings</h2>
				</div>

				<div class="votes-content">

					<!-- repeat -->
					<div class="vote-box" ng-repeat="user in VC.users">
						<div class="vote-media">
							<img ng-src="{{ user.thumb }}" alt="kanye">
						</div>
						<div class="vote-info">
							<div class="vote-body">
								<div class="vote-title">{{ user.username }}</div>
								<div class="vote-subtitle"><strong>{{ user.human_time }}</strong> in <span>{{ user.category }}</span></div>

								<div class="vote-description" ng-show="!user.votes.has_vote">
									<p>
										{{ user.description }}
									</p>
								</div>
								<div class="vote-description" ng-show="user.votes.has_vote">
									<p>
										Thank you for voting!
									</p>
								</div>

								<!-- state color [th-ocean, th-orange] -->
								<div class="vote-state" ng-show="user.votes.last_vote != undefined" ng-class="{'th-ocean': user.votes.last_vote == 'likes','th-orange': user.votes.last_vote == 'dislikes'}">
									<img src="img/icon-like.png" alt="like" ng-show="user.votes.last_vote == 'likes'">
									<img src="img/icon-dislike.png" alt="dislike" ng-show="user.votes.last_vote == 'dislikes'">
									<span></span>
								</div>

								<!-- TODO vote-actions UI -->
								<div class="vote-actions">
									<div class="actions-group" ng-show="!user.votes.has_vote">
										<!-- like -->
										<button class="button-vote th-ocean" ng-click="user.votes.select_vote = 'likes'" ng-class="{'active': user.votes.select_vote == 'likes'}">
											<img src="img/icon-like.png" alt="like">
										</button>
										<!-- dislike -->
										<button class="button-vote th-orange" ng-click="user.votes.select_vote = 'dislikes'" ng-class="{'active': user.votes.select_vote == 'dislikes'}">
											<img src="img/icon-dislike.png" alt="like">
										</button>
										<!-- vote now -->
										<button class="button-simple" ng-click="VC.vote(user.votes, user.votes.select_vote)">
											Vote now
										</button>
									</div>
									<div class="actions-group" ng-show="user.votes.has_vote">
										<!-- vote again -->
										<button class="button-simple" ng-click="VC.voteAgain(user)">
											Vote again
										</button>

										<!-- view full report -->
										<div class="actions-disclaimer" hidden>
											<b>{{ user.human_time }}</b> <br>
											<span>{{ user.category }}</span>
										</div>
									</div>


								</div>

							</div>
							<div class="vote-bar">
								<div class="bar-item th-ocean">
									<div class="bar-icon">
										<img src="img/icon-like.png" alt="" width="28">
									</div>
								</div>
								<div class="bar-item bar-values">
									<span class="bar-like th-ocean" ng-style="{'width': user.value_likes + '%'}">{{ user.value_likes = (user.votes.likes * 100) / user.votes.count | number:1 }} <small>%</small></span>
									<span class="bar-dislike th-orange" ng-style="{'width': user.value_dislikes + '%'}">{{ user.value_dislikes = (user.votes.dislikes * 100) / user.votes.count | number:1 }} <small>%</small></span>
								</div>
								<div class="bar-item th-orange">
									<div class="bar-icon">
										<img src="img/icon-dislike.png" alt="" width="28">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- ribbon -->
			<div class="ribbon">
				<div class="ribbon-media">
					<img src="img/ribbon-bg.jpg" alt="">
				</div>
				<div class="ribbon-content">
					<div class="ribbon-box">
						<div class="box-item">
							<div class="ribbon-title">Is there anyone else you would want us to add?</div>
						</div>
						<div class="box-item compact">
							<div class="ribbon-actions">
								<button class="button-main">Submit a Name</button>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>

		<footer class="footer">
			<div class="footer-container">
				<div class="line-divider"></div>
				<div class="footer-box">
					<div class="box-item">
						<div class="footer-nav">
							<a href="#" class="footer-nav-item">Terms and Conditions</a>
							<a href="#" class="footer-nav-item">Privacy Policy</a>
							<a href="#" class="footer-nav-item">Contact Us</a>
						</div>
					</div>
					<div class="box-item">
						<div class="social">
							<div class="social-title">Follow Us</div>
							<div class="social-group">
								<a href="#" class="social-item"><img src="img/icon-fb.png" alt=""></a>
								<a href="#" class="social-item"><img src="img/icon-twitter.png" alt=""></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>

	</div>

	<!-- plugins -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-sanitize.min.js"></script>

	<!-- application js -->
	<script src="js/app.js"></script>
</body>
</html>