
.hero {

    position: relative;
    margin-bottom: 36px;
    padding: 0 10px;

    height: 100%;
    height: 100vh;
    height: 740px;
    
    overflow: hidden;
    background-color: white;
    box-sizing: border-box;

    @include above($desktop) {
        height: 100vh;
    }

    @include below($tablet) {
        height: 620px;
    }
    @include below($phone) {
        height: 480px;
    }

    &-bg {
        @include absolute(0,0,0,0);
        @include no-events();
        z-index: 0;
        img {
            display: block;
            width: 100%;
            height: 100%;
            margin-bottom: 0;
            object-fit: cover;
        }
    }

    &-container {
        position: relative;
        height: 100%;
        @include center(1024px);

        display: flex;
        align-items: center;

        z-index: 1;

        @include below($tablet) {
            align-items: flex-end;
        }
    }
    &-box {
        position: relative;
        width: 100%;
        margin-left: 0;
        max-width: 500px;
        @include below($tablet) {
            max-width: 320px;
            margin-bottom: 35px;
        }
        @include below($phone) {
            margin-left: auto;
            margin-right: auto;
        }
    }
    &-body {
        position: relative;
        padding: 36px 32px;
        text-align: left;
        color: white;
        backdrop-filter: blur(30px);
        background-color: rgba($color-grey, .45); // TODO REMOVE
        box-sizing: border-box;
        @include below($tablet) {
            padding: 24px 18px;
        }
    }
    &-title {
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: 300;
        line-height: 1;
    }
    &-subtitle {
        font-size: 60px;
        line-height: 1;
        margin-bottom: 30px;
        @include below($tablet) {
            font-size: 30px;
            margin-bottom: 15px;
        }
    }
    &-description {
        padding-right: 10px;
        box-sizing: border-box;
        p {
            font-size: 21px;
            line-height: 1.1428;
            margin-bottom: 24px;
            @include below($tablet) {
                font-size: 16px;
                margin-bottom: 16px;
            }
        }
    }
    &-actions {
        position: relative;
        padding: 0 4px;
        margin-bottom: 44px;
        img {
            display: inline-block;
            vertical-align: middle;
            height: auto;
            margin-bottom: 0;
        }
        span {
            display: inline-block;
            vertical-align: middle;
            color: white;
            text-decoration: none;
        }
        @include below($tablet) {
            margin-bottom: 24px;
        }
    }
    &-link {
        display: inline-block;
        vertical-align: middle;
        padding: 0 4px;
        color: white;
        font-weight: 300;
        text-decoration: underline;
        &:active,
        &:focus {
            outline: none;
        }
    }
    &-q {
        font-size: 20px;
        font-weight: 700;
        line-height: 1;
    }

    &-tool {
        position: relative;
        display: flex;

        .tool-item {
            flex: 1 1 50%;
            height: 80px;
            text-align: center;
            cursor: pointer;
            box-sizing: border-box;

            display: flex;
            align-items: center;
            justify-content: center;

            transition: all 400ms ease-in;

            @include below($tablet) {
                height: 40px;
            }

        }

        img {
            display: block;
            height: auto;
            margin-bottom: 0;
            @include below($tablet) {
                height: 24px;
            }

        }
        
        .th-ocean {
            background-color: rgba($color-ocean, .9);
            &:hover {
                background-color: $color-ocean;
            }
        }
        .th-orange {
            background-color: rgba($color-orange, .9);
            &:hover {
                background-color: $color-orange;
            }
        }
    }

    &-bar {
        @include absolute($bottom: 0, $left: 0, $right: 0);
        width: 100%;
        z-index: 1;

        display: flex;
        height: 50px;

        @include below($tablet) {
            height: 30px;
        }

        .bar-title {
            flex: 1 1 32%;
            padding: 0 10px;
            text-align: right;
            font-size: 13px;
            // font-weight: 700;
            line-height: 50px;
            color: white;
            text-transform: uppercase;
            box-sizing: border-box;

            background-color: rgba($color-grey, .3);

            display: flex;
            align-items: center;
            justify-content: flex-end;

        }
        .bar-line {
            display: none;
        }
        .bar-time {
            flex: 1 1 68%;
            padding: 0 15px;
            font-size: 36px;
            font-weight: 300;
            line-height: 50px;
            color: $color-grey;
            display: flex;
            background-color: rgba(white, .7);
            align-items: center;
            box-sizing: border-box;
            strong {
                margin-right: 6px;
            }

            @include below($tablet) {
                font-size: 24px;
            }
        }

        // TODO bar triangle
        .bar-triangle {
            display: none;
        }
    }
}
