
.alert  {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    @include below($tablet) {
        margin-bottom: 20px;
    }

    &-box {
        position: relative;
        background-color: $color-smoke;
        padding: 24px 46px 24px 27px;

        display: flex;
        align-items: center;

        box-sizing: border-box;

        @include below($tablet) {
            flex-direction: column;
            align-items: stretch;
            padding: 20px;
        }
        @include below($phone) {
            padding: 10px;
        }
    }
    &-head {
        flex: 0 0 auto;
        .head-title {
            font-size: 21px;
            font-weight: 300;
            line-height: 1.2;
            @include below($phone) {
                font-size: 16px;
            }

        }
        .head-subtitle {
            font-size: 35px;
            font-weight: 700;
            line-height: 1;
            @include below($phone) {
                font-size: 26px;
            }
        }
    }
    &-body {
        position: relative;
        flex: 1 1 auto;
        padding: 0 22px;
        box-sizing: border-box;
        z-index: 0;
        p {
            font-size: 15px;
            line-height: 1.4;
            font-weight: 300;
            letter-spacing: .01em;
            margin-top: 0;
            margin-bottom: 0;
            @include below($phone) {
                line-height: 1.2;
            }
        }
        @include below($tablet) {
            padding: 8px 0;
        }
    }

    &-actions {
        @include absolute($top: 0, $bottom: 0, $right: 25px);
        display: flex;
        align-items: center;
        z-index: 1;
        @include below($tablet) {
            bottom: auto;
            top: 10px;
            right: 10px;
        }
    }

    &-close {
        display: inline-block;
        cursor: pointer;
        img {
            display: block;
            height: auto;
            margin-bottom: 0;
        }
    }
}