
@mixin btn {
    position: relative;
    padding: 0;
    margin: 0;
    display: inline-flex;
    vertical-align: middle;
    text-align: center;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    color: black;
    cursor: pointer;
    transition: all 300ms ease-in;
    zoom: 1;
    box-sizing: border-box;
    z-index: auto;

    &:focus {
        outline: none;
    }
}

.button-main {
    @include btn();

    height: 50px;
    padding: 0 36px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: normal;
    color: $color-grey-dark;
    border: 3px solid $color-grey-dark;

    &:hover {
        background-color: rgba(white, .4);
    }

    @include below($sm) {
        height: 35px;
        font-size: 16px;
        border-width: 2px;
    }
}

.button-vote {
    @include btn();

    position: relative;
    @include size(31px);
    text-align: center;
    border: 2px solid transparent;
    background-color: $color-grey;
    font-size: 0;
    img {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
    &.th-ocean {
        background-color: $color-ocean;
    }
    &.th-orange {
        background-color: $color-orange;
    }

    &.active, 
    &:hover {
        border-color: white;
    }
}

.button-simple {
    @include btn();

    position: relative;
    text-align: center;
    font-size: 14px;
    height: 31px;
    line-height: 1.2;
    color: white;
    padding: 0 26px;
    border: 1px solid white;

    &:hover {
        background-color: rgba(white, .2);
    }
}