
.social {

    display: flex;
    justify-content: flex-end;
    align-items: center;

    &-title {
        font-size: 12px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.025em;
        margin-bottom: 0;
        margin-right: 12px;
        color: $color-grey-dark;
    }
    &-group {
        position: relative;
        text-align: center;
    }
    &-item {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        outline: none;
        margin: 0 12px;
        color: $color-grey-dark;

        img {
            display: block;
            margin-bottom: 0;
        }
    }
}