// @import 'pesticide';


// device reoslution
$phone: 480px;
$xsm: 540px;
$sm: 640px;
$tablet: 768px;
$laptop: 960px;
$desktop: 1280px;
$hd: 1440px;

// space
$app-width: 1280px;
$app-gap: 15px;


// colors
$color-grey: #333333;
$color-grey-light: #ebebeb;

$color-smoke: #ebebeb;

$color-ocean: #1cbbb4;
$color-orange: #ffad1d;