@mixin font-face($name, $file, $weight: normal, $style: normal) {
    @font-face {
        font-family: '#{$name}';
        src: url('../fonts/#{$file}.woff2') format('woff2'),
             url('../fonts/#{$file}.woff2') format('woff2');
        font-weight: $weight;
        font-style: $style;
        font-display: swap;
    }
}

@mixin font-default {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

@mixin font-bold {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

@mixin font-light {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}